@import url('https://fonts.googleapis.com/css?family=Anton');

body{
    padding:0px;
    margin:0px;
}


/* ----------------------NAV------------------------ */
/* a{
    text-decoration: none;
    color: white;
}

li{
    display: inline-block;
    padding-left: 3%;
    padding-right: 3%;
} */
/* .nav{
    position: fixed;
    font-size:1.2em;
    color: white;

    font-family: 'Pathway Gothic One', sans-serif;
    text-align: center;
    margin: 0 auto;
    width: 100%;    
    background-color: black;
    opacity: .7; 
} */

/* --------------------------------------------------------------- */
.parallax {
    /* The image used */
     background-image: url("../images/header.jpg"); 
      
  text-align: center;
    /* Set a specific height */
    min-height: 700px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: grayscale 6s forwards;
}
 @keyframes grayscale {
                from{
                   background-image: url("../images/header.jpg");
                    }

                to {
                       background-image: url("../images/header.jpg");
                
                   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                    }
                    }
              


.main_body{
    text-align: center;
    padding:0px;
    background-color: black;
    height: 500px;
}


.headText{
    margin:auto;
    font-size:100px;
    color: #3284BF;
;
     text-shadow: 2px 2px black;


}
